
@{
    ViewData["Title"] = "Create";
}

@model ProductVM
<h2 style="margin-left: 11px;">New Product</h2>
<form method="post" asp-action="NewProduct">
    <div class="form-con" style="display: flex;flex-direction: column;align-items: flex-start;align-content: flex-start;">
        <div class="input-con col-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                <input asp-for="Product.Title" type="text" class="form-control" name="Title" id="Title" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <span class="text-danger" asp-validation-for="Product.Title"></span>
            </div>
        </div>
        <div class="input-con col-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Article</span>
                <textarea class="form-control"  asp-for="Product.Article" name="Article" id="Article" rows="3"></textarea>
                <span class="text-danger" asp-validation-for="Product.Article"></span>
            </div>
        </div>
        <div class="input-con col-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
                <input asp-for="Product.Price" type="text" class="form-control" name="Price" id="Price" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <span class="text-danger" asp-validation-for="Product.Price"></span>
            </div>
        </div>
        <div class="input-con col-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Discount</span>
                <input asp-for="Product.PriceDiscount" type="text" class="form-control" name="PriceDiscount" id="PriceDiscount" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <span class="text-danger" asp-validation-for="Product.PriceDiscount"></span>
            </div>
        </div>
        <div class="input-con col-6 mb-3">
            <h4>Categories</h4>
            <select class="form-select" aria-label="Default select example">
                @foreach (Category item in Model.Categories)
                {
                    <option value="@item.Id" name="CategoryId">@item.Name</option>
                }
            </select>
        </div>
        <div class="input-con col-6 mb-3">
            <h4>Authors</h4>
            <select class="form-select" aria-label="Default select example">
                @foreach (Author item in Model.Authors)
                {
                    <option value="@item.Id" name="AuthorId">@item.Name</option>
                }
            </select>
        </div>
        <div class="input-con col-6 mb-3">
            <h4>Genres</h4>
            <select class="form-select" aria-label="Default select example">
                @foreach (Genre item in Model.Genres)
                {
                    <option value="@item.Id" name="GenreId">@item.Name</option>
                }
            </select>
        </div>
        <div class="input-con col-6 mb-3">
            <div class="form-check">
                <input class="form-check-input" value="true" type="checkbox" name="New" id="New">
                <label class="form-check-label" for="flexCheckDefault">
                    New Product
                </label>
            </div>
        </div>
        <div class="input-con col-6 mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" name="Featured" id="Featured">
                <label class="form-check-label" for="flexCheckDefault">
                    Featured Product
                </label>
            </div>
        </div>
        <div class="input-con col-6 mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" name="Availability" id="Availability">
                <label class="form-check-label" for="flexCheckDefault">
                    Product Avalible
                </label>
            </div>
        </div>

    </div>
    <button type="submit" class="btn btn-primary" style="margin-left: 11px;">Add Product</button>
</form>


