
@{
    ViewData["Title"] = "Edit";
}

@model Comment

<h2>Edit Comment</h2>
<form class="col-6" method="post" asp-action="Edit">
    <p> Id : @Model.Id</p>
    <p> Product : @Model.Product.Title</p>
    <p> Rating : @Model.StarCount</p>
    <p>
        Publisher : @{ string name = Model.UserName;
            if (string.IsNullOrWhiteSpace(Model.UserName))
            {
                name = Model.FullName;
            }
        }
        @name
    </p>
    <p> Time added : @Model.TimeAdded</p>
    <p> Email : @Model.Email</p>
    <p> Comment : @Model.CommentText</p>
    <div class="input-group mb-4">
        <p class="col-12 mb-1">Status</p>
        <select asp-for="Status" class="form-select" aria-label="Status">
            <option value="1"> Pending</option>
            <option value="2"> Accepted</option>
            <option value="3"> Denied</option>
        </select>
    </div>
    <input value="@Model.StarCount" type="hidden" name="StarCount"  />
    <button type="submit" class="btn btn-primary mt-1">Submit</button>
</form>
