@{
    int currentPage = Model.PageSelected;
    int totalPages = Model.PageCount;
    int currentPageAfter = -1;
    int currentPageBefore = -1;
    int currentPageAfterPlus = -1;
    int currentPageBeforePlus = -1;
    int startPage = 1;
    int endPage = totalPages;

    if (currentPage < 1)
    {
        currentPage = 1;
    }
    else if (currentPage > totalPages)
    {
        currentPage = totalPages;
    }
    if(currentPage + 1 < endPage)
    {
        currentPageAfter = currentPage + 1;
    }
    else if (currentPage + 1 == endPage)
    {
        currentPageAfter = endPage;
    }

    if(currentPage - 1 > startPage)
    {
        currentPageBefore = currentPage - 1;
    }
    else if(currentPage - 1 == startPage)
    {
        currentPageBefore = startPage;
    }

    if (currentPage + 2 < endPage)
    {
        currentPageAfterPlus = currentPage + 2;
    }
    else if (currentPage + 2 == endPage)
    {
        currentPageAfterPlus = endPage;
    }

    if (currentPage - 2 > startPage)
    {
        currentPageBeforePlus = currentPage - 2;
    }
    else if (currentPage - 2 == startPage)
    {
        currentPageBeforePlus = startPage;
    }

 }
@model PageNationVM

<nav>
    <ul class="pagination">
        <li class="page-item @(startPage==currentPage?"disabled":"")"><a class="page-link" asp-action="index" asp-route-page="@startPage"><i class="fa-solid fa-angles-left"></i></a></li>
        <li class="page-item @(startPage==currentPage?"disabled":"")"><a class="page-link" asp-action="index" asp-route-page="@currentPageBefore"><i class="fa-solid fa-angle-left"></i></a></li>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == currentPage || i == currentPageBeforePlus || i == currentPageAfterPlus || i == currentPageBefore || i == currentPageAfter)
            {
                <li class="page-item @(i==currentPage?"active":"")"><a class="page-link @(i==currentPage?"active":"")" asp-action="index" asp-route-page="@i">@i</a></li>
            }
        }
        <li class="page-item @(endPage==currentPage?"disabled":"")"><a class="page-link" asp-action="index" asp-route-page="@currentPageAfter"><i class="fa-solid fa-angle-right"></i></a></li>
        <li class="page-item @(endPage==currentPage?"disabled":"")"><a class="page-link" asp-action="index" asp-route-page="@endPage"><i class="fa-solid fa-angles-right"></i></a></li>

    </ul>
</nav>
