
@{
    ViewData["Title"] = "Index";
}

@model SettingVM

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Type</th>
            <th scope="col">Key</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Setting item in Model.Settings)
        {
            int rowNum = Model.Settings.IndexOf(item) + 1;
        <tr>
            <th scope="row">@rowNum</th>
            <td>@item.Id</td>
            <td>@item.Type</td>
            <td>@item.Key</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a asp-controller="Setting" asp-action="info" asp-route-id="@item.Id"><button type="button" class="btn btn-info" style="border-top-right-radius: 0%;border-bottom-right-radius: 0%;">Info</button></a>
                    <a asp-area="manage" asp-controller="Setting" asp-action="edit" asp-route-id="@item.Id"><button type="button" class="btn btn-warning" style=" border-radius: 0px !important;">Edit</button></a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.0/dist/sweetalert2.all.min.js"></script>
}


