
@{
    ViewData["Title"] = "Index";
}

@model CommentVM

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Comment</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Comment item in Model.Comments)
        {
            int rowNum = Model.Comments.IndexOf(item) + 1;
        <tr>
            <th scope="row">@rowNum</th>
            <td>@item.Id</td>
            <td>
                @{ string name = item.UserName;
                    if (string.IsNullOrWhiteSpace(item.UserName))
                    {
                        name = item.FullName;
                    }

                }
                @name
            </td>
            <td>
                @{
                    string text = item.CommentText;
                    if (item.CommentText.Length > 50)
                    {
                        text = item.CommentText.Substring(0, 50);
                        text += "...";
                    }
                }
                @text
            </td>
            @{ 
                string statusText = "";
                if (item.Status == commentStatus.Accepted)
                {
                    statusText = "text-success";
                }
                else if (item.Status == commentStatus.Pending)
                {
                    statusText = "text-warning";
                }
                else
                {
                    statusText = "text-danger";
                }
             }
            <td class="@statusText">@item.Status</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a asp-area="manage" asp-controller="comment" asp-action="edit" asp-route-id="@item.Id"><button type="button" class="btn btn-warning" style=" border-radius: 0px !important;">Edit</button></a>
                    <button type="button" class="btn btn-danger" onclick="DeleteAlert('comment',@item.Id)">Delete</button>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

@{await Html.RenderPartialAsync("_PageNation", Model.pageNation);}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.0/dist/sweetalert2.all.min.js"></script>
}

