
@{
    ViewData["Title"] = "Index";
}
@model ProductVM

<a asp-area="manage" asp-controller="product" asp-action="create"><button type="button" class="btn btn-primary" style="margin:15px">Create new Product</button></a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Code</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Genre</th>
            <th scope="col">Author</th>
            <th scope="col">Cover Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product item in Model.Products)
        {
            int rowNum = Model.Products.IndexOf(item) + 1;
        <tr>
            <th scope="row">@rowNum</th>
            <td>@item.Id</td>
            <td>@item.Code</td>
            <td>@item.Title</td>
            <td>@item.Price</td>
            <td>@item.Category.Name</td>
            <td>@item.Genre.Name</td>
            <td>@item.Author.Name</td>
            <td>
                @{
                    if (item.ProductImages.FirstOrDefault(x => x.MainImage == true).Source != null)
                    {
                        <img width="100" src="~/@item.ProductImages.FirstOrDefault(x=> x.MainImage == true).Source" />
                    }
                }
            </td>

            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a asp-controller="product" asp-action="info" asp-route-id="@item.Id"><button type="button" class="btn btn-info" style="border-top-right-radius: 0%;border-bottom-right-radius: 0%;">Info</button></a>
                    <a asp-area="manage" asp-controller="product" asp-action="edit" asp-route-id="@item.Id"><button type="button" class="btn btn-warning" style=" border-radius: 0px !important;">Edit</button></a>
                    <button type="button" class="btn btn-danger" onclick="DeleteAlert('product',@item.Id)">Delete</button>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

@{await Html.RenderPartialAsync("_PageNation", Model.pageNation);}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.0/dist/sweetalert2.all.min.js"></script>
}

