
@{
    ViewData["Title"] = "Info";
}
@model Product

<div>
    <ul>
        <li>Id : @Model.Id</li>
        <li>Title : @Model.Title</li>
        <li>Article : @Model.Article</li>
        <li>Brand : @Model.Brand</li>
        <li>Category : @Model.Category.Name</li>
        <li>Code : @Model.Code</li>
        <li>Author : @Model.Author.Name</li>
        <li>Genre : @Model.Genre.Name</li>
        <li>Price : @Model.Price</li>
        <li>Discount price : @Model.PriceDiscount</li>
        <li>Old price : @Model.PriceOld</li>
        <li>Reward point : @Model.RewardPoint</li>
        <li>Star count : @Model.StarCount</li>
        <li>
            Tags :
            <ul>
                @{foreach (ProductTag item in Model.ProductTags)
                  {
                        <li>@item.Tag.Name</li>
                  }
                }
            </ul>
        </li>
        <li>Avalible : @Model.Availability</li>
        <li>Featured : @Model.Featured</li>
        <li>New : @Model.New</li>
        <li>
            Product images : 
            <ul style=" display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: center; list-style: none;">
                @{
                  foreach (ProductImage item in Model.ProductImages) 
                  {
                        <li class="col-4"><img style="width: 100%;height: 100%;" src="~/image/products/@item.Source"  /></li>
                  }
                 }
            </ul>
        </li>
    </ul>
</div>

