@{
    ViewData["Title"] = "Home Page";
}

@model HomeVM
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                @for (int i = 0; i < Model.SlidersList.Count; i++)
                {
                    <!-- Slider @i -->
                    <div class="carousel-item @(i==0?"active":"")" style="background: url(@Model.SlidersList[i].BackgroudImgSrc)">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">@Model.SlidersList[i].Header</h2>
                                <p class="animate__animated animate__fadeInUp">@Model.SlidersList[i].InfoText</p>
                                <a href="@Model.SlidersList[i].BtnHref" class="btn-get-started animate__animated animate__fadeInUp">@Model.SlidersList[i].BtnText</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="@Model.AppItemList[0].Context" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="@Model.AppItemList[1].Context" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container">

            <div class="row">
                @for (int i = 0; i < Model.FeaturesList.Count; i++)
                {
                    <div class="@(i==0?"col-lg-4":"col-lg-4 mt-4 mt-lg-0")">
                        <div class="icon-box">
                            <i class="@Model.FeaturesList[i].IconClassStr"></i>
                            <h3><a href="">@Model.FeaturesList[i].Header</a></h3>
                            <p>@Model.FeaturesList[i].InfoText</p>
                        </div>
                    </div>
                }
                
            </div>

        </div>
    </section><!-- End Featured Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <img src="@Model.AppItemList[2].Context" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>@Model.AppItemList[3].Context</h3>
                    <p class="fst-italic">
                        @Model.AppItemList[4].Context
                    </p>
                    <ul>
                        @foreach (ListModel item in Model.AboutInfoList)
                        {
                            <li><i class="@item.IconClass"></i>@item.Text</li>
                        }
                    </ul>
                    <p>
                        @Model.AppItemList[5].Context
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="row">

                @for (int i = 0; i < Model.ServicesList.Count; i++)
                {
                    string conClassStr = "col-lg-4 col-md-6 d-flex align-items-stretch";

                    if (i == 1 || i == 2)
                    {
                        conClassStr += " mt-4 mt-md-0";
                    }
                    else if (i > 2)
                    {
                        conClassStr += " mt-4";
                    }

                    <div class="@conClassStr">
                        <div class="icon-box">
                            <div class="icon"><i class="@Model.ServicesList[i].IconClassStr"></i></div>
                            <h4><a href="">@Model.ServicesList[i].Header</a></h4>
                            <p>@Model.ServicesList[i].InfoText</p>
                        </div>
                    </div>
                }
            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">

            <div class="section-title">
                <h2>Clients</h2>
                <p>@Model.AppItemList[6].Context</p>
            </div>

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    @foreach (ClientModel item in Model.ClientsList)
                    {
                        <div class="swiper-slide"><img src="@item.ImageSrc" class="img-fluid" alt=""></div>
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Clients Section -->

</main><!-- End #main -->
